* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  height: 100px;
  background-color: #2C3E50;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
nav a {
  line-height: 100px;
  text-transform: uppercase;
  color: white;
}
nav a:hover {
  text-decoration: none;
}
nav li {
  list-style: none;
  display: inline-block;
}
#start {
  font-size: 25px;
  font-weight: bold;
}
#start:hover {
  color: white;
}
#menu {
  text-align: right;
}
.menu {
  font-size: 18px;
  font-weight: bold;
  margin-left: 18px;
}
.menu:hover {
  color: #1ABC9C;
}

header {
  background-color: #1ABC9C;
  color: white;
  margin-top: 100px;
}
header .row {
  text-align: center;
}
img {
  height: 250px;
}
h1 {
  text-transform: uppercase;
  font-size: 60px;
  font-weight: bold;
}
header hr {
  width: 200px;
  border: 3px solid white;
  border-radius: 2px;
  display: inline-block;
}
header i {
  margin: 0 30px;
  vertical-align: super;
  font-size: 30px;
}
header p {
  text-transform: uppercase;
  font-size: 25px;
}

#portfolio {
  text-align: center;
}
#portfolio h2 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: bold;
}
#portfolio hr {
  width: 200px;
  border: 3px solid black;
  border-radius: 2px;
  display: inline-block;
}
#portfolio i {
  margin: 0 30px;
  vertical-align: super;
  font-size: 30px;
}
#portfolio img {
  margin: 15px 0;
  border-radius: 10px;
}

#about {
  height: 350px;
  background-color: #1ABC9C;
  text-align: center;
  color: white;
}
#about h2 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: bold;
}
#about hr {
  width: 200px;
  border: 3px solid white;
  border-radius: 2px;
  display: inline-block;
}
#about .row i {
  margin: 0 30px;
  vertical-align: super;
  font-size: 30px;
}
#about p {
  text-align: left;
  font-size: 20px;
}
#about a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 15px;
  border-radius: 5px;
}
#about a:hover {
  background-color: white;
  color: black;
}
#about i {
  font-size: 20px;
}
#about span {
  font-size: 20px;
}

#contact-me {
  text-align: center;
}
#contact-me h2 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: bold;
}
#contact-me hr {
  width: 200px;
  border: 3px solid black;
  border-radius: 2px;
  display: inline-block;
}
#contact-me .row i {
  margin: 0 30px;
  vertical-align: super;
  font-size: 30px;
}
.write {
  height: 80px;
  width: 100%;
  border: none;
  border-bottom: 1px solid lightgrey;
}
#write {
  width: 100%;
  border: none;
  border-bottom: 1px solid lightgrey;
}
input[placeholder] {
  color: black;
  font-size: 20px;
}
textarea[placeholder] {
  color: black;
  font-size: 20px;
  padding-top: 20px;
}
button {
  padding: 10px 20px;
  background-color: #1ABC9C;
  color: white;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 15px;
  border-radius: 10px;
}
button:hover {
  background-color: #159A80;
  color: white;
}

#credits {
  background-color: #2C3E50;
  color: white;
  text-align: center;
}
#credits h4 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
}
#credits p {
  font-size: 20px;
}
#credits li {
  list-style: none;
  display: inline-block;
}
#credits li > a {
  text-decoration: none;
  color: white;
}
#credits i {
  border: 1px solid white;
  border-radius: 50%;
  font-size: 20px;
  padding: 20px;
  width: 61.6px;
}
#credits i:hover {
  background-color: white;
  color: black;
}
#credits p > a {
  color: #1ABC9C;
}
#credits p > a:hover {
  color: #159A80;
}

footer {
  height: 100px;
  background-color: #1A252F;
  color: white;
  text-align: center;
}
h5 {
  line-height: 100px;
  margin: 0;
}
