* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Navbar */
nav {
  height: 100px;
  background-color: #2C3E50;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
nav a {
  line-height: 100px;
  text-transform: uppercase;
  color: white;
}
nav a:hover {
  text-decoration: none;
}
nav li {
  list-style: none;
  display: inline-block;
}
#start {
  font-size: 25px;
  font-weight: bold;
}
#start:hover {
  color: white;
}
#menu {
  text-align: right;
}
.menu {
  font-size: 18px;
  font-weight: bold;
  margin-left: 18px;
}
.menu:hover {
  color: #1ABC9C;
}
#display_none_sm_md {
  font-size: 18px;
  color: white;
  border: 1px solid white;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}
/* /Navbar */

/* Start Bootstrap */
header {
  background-color: #1ABC9C;
  color: white;
  margin-top: 100px;
  padding-bottom: 50px;
}
header .row {
  text-align: center;
}
img {
  height: 250px;
  margin-top: 50px;
}
h1 {
  text-transform: uppercase;
  font-size: 60px;
  font-weight: bold;
}
header hr {
  width: 150px;
  border: 3px solid white;
  border-radius: 2px;
  display: inline-block;
}
header i {
  margin: 0 30px;
  vertical-align: super;
  font-size: 30px;
}
header p {
  text-transform: uppercase;
  font-size: 25px;
}
/* /Start Bootstrap */

/* Portfolio */
#portfolio {
  text-align: center;
  padding: 50px 0;
}
#portfolio h2 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: bold;
}
#portfolio hr {
  width: 150px;
  border: 3px solid black;
  border-radius: 2px;
  display: inline-block;
}
#star_white {
  margin: 0 30px;
  vertical-align: super;
  font-size: 30px;
}
#portfolio img {
  margin: 15px 0;
  border-radius: 10px;
}

.position_relative {
  position: relative;
}
.background_green {
  height: 100%;
  width: 100%;
  background-color: #1ABC9C;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.plus_white {
  color: white;
  font-size: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  cursor: pointer;
}
.position_relative:hover .background_green {
  opacity: 0.8;
}
.position_relative:hover .plus_white {
  opacity: 1;
}
/* /Portfolio */

/* About */
#about {
  background-color: #1ABC9C;
  text-align: center;
  color: white;
  padding: 50px 0;
}
#about h2 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: bold;
}
#about hr {
  width: 150px;
  border: 3px solid white;
  border-radius: 2px;
  display: inline-block;
}
#about .row i {
  margin: 0 30px;
  vertical-align: super;
  font-size: 30px;
}

#about p {
  text-align: left;
  font-size: 20px;
}
#about a {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: 20px;
  border-radius: 7px;
}
#about a:hover {
  background-color: white;
  color: black;
}
#about i {
  font-size: 20px;
  margin-top: 20px;
}
#about span {
  font-size: 20px;
}
/* /About */

/* Contact Me */
#contact-me {
  text-align: center;
  padding: 50px 0;
}
#contact-me h2 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: bold;
}
#contact-me hr {
  width: 150px;
  border: 3px solid black;
  border-radius: 2px;
  display: inline-block;
}
#contact-me .row i {
  margin: 0 30px;
  vertical-align: super;
  font-size: 30px;
}

.input_field {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0;
  box-shadow: none;
  height: 100px;
}
#input_field {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0;
  box-shadow: none;
  resize: none;
  padding-top: 40px;
}
#send {
  font-size: 20px;
  padding: 15px 25px;
  margin: 20px 0;
  border-radius: 7px;
  border: 1px solid #1ABC9C;
  background-color: #1ABC9C;
  color: white;
}
#send:hover {
  background-color: #159A80;
}
/* /Contact Me */

/* Credits */
#credits {
  background-color: #2C3E50;
  color: white;
  text-align: center;
  padding: 50px 0;
}
#credits h4 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
}
#credits p {
  font-size: 20px;
}

#credits li {
  list-style: none;
  display: inline-block;
}
#credits li > a {
  text-decoration: none;
  color: white;
}
#credits i {
  border: 1px solid white;
  border-radius: 50%;
  font-size: 20px;
  padding: 20px;
  width: 61.6px;
}
#credits i:hover {
  background-color: white;
  color: black;
}

#credits p > a {
  color: #1ABC9C;
}
#credits p > a:hover {
  color: #159A80;
}
/* /Credits */

/* Footer */
footer {
  height: 80px;
  background-color: #1A252F;
  color: white;
  text-align: center;
}
h5 {
  line-height: 80px;
  margin: 0;
}
/* /Footer */


@media screen and (max-width: 767px) {

  #start {
    font-size: 15px;
  }
  .menu {
    display: none;
  }

  header h1 {
    font-size: 50px;
  }

  header hr,
  #portfolio hr,
  #about hr,
  #contact-me hr {
    width: 100px;
  }

}

@media screen and (min-width: 768px) and (max-width: 991px) {

  #start {
    font-size: 20px;
  }
  .menu {
    font-size: 13px;
    font-weight: bold;
    margin-left: 5px;
  }
  #display_none_sm_md {
    display: none;
  }

}

@media screen and (min-width: 992px) {

  #display_none_sm_md {
    display: none;
  }

}
